Bot telegram deepseek R1 free.json
{
  "name": "Bot telegram deepseek R1 free",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        160,
        -32
      ],
      "id": "7c9de16b-84b1-43f8-b6a5-f02d6d8b8449",
      "name": "Telegram Trigger",
      "webhookId": "c16df28e-dd8e-41c2-b225-d57e53208cc6",
      "credentials": {
        "telegramApi": {
          "id": "HCTjaN5fBxbj9EAY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"deepseek/deepseek-r1:free\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.message.text }}\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 500\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        -32
      ],
      "id": "b8c93c4d-4abf-4cb6-b5de-a318aa0f012d",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "y9bAqt60DKNUYo8R",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.choices[0].message.content }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        576,
        -32
      ],
      "id": "ad44f8a9-7c08-4907-95a8-3e8376544f6b",
      "name": "Send a text message",
      "webhookId": "3fe09f9e-5368-422a-9f7c-e1d6d6453565",
      "credentials": {
        "telegramApi": {
          "id": "HCTjaN5fBxbj9EAY",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e58f2599-100b-4f0f-93e5-1d11b64ed081",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7254e4df97aeb4f8f6ff4c3094b057a1ef6e65c8a73181f99fd1f66aaecd80c4"
  },
  "id": "SbXmNZU1MaoDDENj",
  "tags": []
}